{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="content-container">
        <div class="carousel">
            <div class="overlay"></div>
            <div class="carousel-text"><h1>{{ page.intro|richtext }}</h1></div>
        </div>

        <div class="form">
            <form action="{% pageurl page %}" method="post">
                {% csrf_token %}
    
                {% for field in form.visible_fields %}
                    <div class="form-field">
                        {{ field }}
                    </div>
                {% endfor %}
        
                <button type="submit" class="submitform">Отправить</button>
            </form>
        </div>

        <div class="card-container big-card">
            <div class="card full-border">
                <h3>Контактная информация</h3>
                <br>
                <br>
                {{ page.contacts | richtext }}
            </div>
        </div>
    </div>
{% endblock %}