{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags base_tags %}

{% block content %}
    <div class="content-container">
        <div class="carousel">
            <div class="overlay"></div>
            <div class="carousel-text">{{ page.about | richtext }}</div>
            <!-- <div class="overlay"></div>
            <img src="{% static 'images/news_index_bg.webp' %}" alt="" class="carousel-item"> -->
        </div>
        <div class="card-container flex-row">
            <div class="card-content big-card">
                <div class="card full-border">
                    {{ page.service_title | richtext }}
                </div>
            </div>

            {% for service in page.services.all %}
                {% image service.image format-webp as service_image %}
                <div class="card-content {% if not service.block_size %} small-card {% else %} big-card {% endif %}">
                    <a href="{{ service.link }}" class="card-link">
                        {% if service.image %}
                            <div class="card-image image-tint" style="background-image: url({{ service_image.url }});"></div>
                            <div class="card">
                                <p><i class="fa {{ service.icon }}"></i>{{ service.title }}</p>          
                            </div>
                        {% else %}
                            <div class="card full-border">
                                <p><i class="fa {{ service.icon }}"></i>{{ service.title }}</p>          
                            </div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}

            {% if page.ya_map %}
                <div id="map" class="big-card">
                    <script type="text/javascript" charset="utf-8" async src="{{ page.ya_map|safe }}"></script>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
