{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}   
    <div class="content-container">
        <div class="carousel">
            <div class="overlay"></div>
            <div class="carousel-text"><h4>{{ page.title }}</h4></div>
        </div>
        <div class="card-container flex-row">
            {% for news in page.get_children %}
                {% image page.image format-webp as card_image %}

                {% if news.live %}
                    <div class="card-content small-card">
                        <a href="{% pageurl news %}" class="card-link">
                            <div class="card-image image-tint" style="background-image: url({{ card_image.url }});"></div>
                            <div class="card">
                                <p>{{ news.title }}</p>          
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}