{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <section id="news_index">
        <div class="overlay"></div>
        <div class="gradient-overlay"></div>

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-full">
                <div class="lead">
                    <h1>{{ page.title }}</h1>
                </div>

            </div>
        </div>

        <div class="row news_index-content">
            <div class="news_index-list block-1-2 block-tab-full group">
                {% for news in page.get_children %}
                    {% if news.live %}
                        <div class="bgrid service-item animate-this">
                            <a href="{% pageurl news %}">
                                <span class="icon">
                                    <i class="icon-files"></i>
                                </span>	              
                                <div class="service-content">
                                    <h3 class="h05">{{ news.title }}</h3>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div> 			
    </section>                                  
{% endblock %}