{% load base_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<!-- header 
================================================== -->
<header>
    <a id="header-menu-trigger" href="#0">
        <span class="header-menu-text">Меню</span>
        <span class="header-menu-icon"></span>
    </a> 

    <nav id="menu-nav-wrap">
        {% if request.user %}
            {{ request.user.first_name }} {{ request.user.last_name }}
        {% endif %}

        <a href="#0" class="close-button" title="close"><span>Закрыть</span></a>

        <ul class="nav-list">
            <li><a href="/">Главная</a></li>

            {% for menuitem in menuitems %}
                {% if menuitem.show_dropdown %}
                    <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
                    {% top_menu_children parent=menuitem %}
                {% else %}
                    <li><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
                {% endif %}
            {% endfor %}
	    
	    <br>
            <li style="color: rgb(186, 186, 186)">Раскрытие информации</li>
		    <li>
                <a href="http://ri.gkres.so-online.ru/">
                <span class="icon">
                        &nbsp;&nbsp;
                        <i class="icon-tag">&nbsp;</i>
                    </span>
                Магадан
                </a>
        	</li>
        	<li>
                <a href="https://gkres.ru/khabarovskii-krai/">
                <span class="icon">
                        &nbsp;&nbsp;
                        <i class="icon-tag">&nbsp;</i>
                </span>
                Хабаровский край
                </a>
        	</li>
            <li><a href="https://gkres.so-online.ru/tso/requests">Личный кабинет</a></li>
            <li><a href="https://gkres.so-online.ru/calculator">Калькулятор стоимости ТП</a></li>
            <li><a href="https://disk.yandex.ru/d/S2bEqAkbTwrNmA">Схемы сетевого комплекса</a></li>
            
            <br>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'tennis:tennis-tournaments' %}">                    
                        <span class="icon">
                            <i class="icon-trophy"></i>
                        </span>	
                        Теннисный турнир
                    </a>
                </li>
            {% endif %}

            <br>
            <li><a href="/admin">Вход для сотрудников</a></li>
	    <br>
	    <li><a href="http://old.gkres.ru">Старая версия сайта</a></li>
        </ul>
    </nav>
</header>
