{% load static wagtailcore_tags wagtailimages_tags base_tags %}

{% get_site_root as site_root %}

<div class="user_header">
    <form action="{% url 'search' %}" method="get" class="search">
        <input name="query" class="search-field" {% if search_query %} value="{{ search_query }}"{% endif %}>
        <button class="search-button"><i class="fa fa-search"></i></button>
    </form>
    {% if request.user.is_authenticated %}
        <div class="account">
            <a href="https://lk.gkres.ru/admin/logout/?next=/">
                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
            </a> 
        </div>
    {% else %}
        <div class="account">
            <a href="https://lk.gkres.ru">
                <i class="fa fa-user-circle"></i>
            </a> 
        </div>
    {% endif %}
</div>