{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="carousel">
            <div class="overlay"></div>
            <div class="carousel-text">
                <h3>
                    {% if search_results %}
                        Поиск по сайту
                    {% elif search_query %}
                        Поиск не дал результатов
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="card-container flex-row">
            <div class="card-content big-card">
                    {% for result in search_results %}
                        <div class="card-content big-card">
                            <a href="{% pageurl result %}" class="card-link">
                                <div class="card full-border" style="margin-bottom: 20px;">
                                    <p>{{ result }}</p>

                                    {% if result.search_description %}
                                        {{ result.search_description }}
                                    {% endif %}    
                                </div>
                            </a>
                        </div>
                    {% endfor %}
            
                    {% if search_results.has_previous %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                    {% endif %}
            
                    {% if search_results.has_next %}
                        <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                    {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
