{% load static wagtailcore_tags wagtailuserbar base_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ self.search_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title>
        {% block title %}
            {% if page.seo_title %}
                {{ page.seo_title }}
            {% else %}
                {{ page.title }}
            {% endif %}
        {% endblock %}

        {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}-
                {{ current_site.site_name }}
            {% endif %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    {% block head %}{% endblock %}

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a) {
            m[i]=m[i]||function() {
                (m[i].a=m[i].a||[]).push(arguments)
            };
            m[i].l=1*new Date();
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(89905300, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/89905300" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <div class="wrapper">
        {% header_tag %}

        {% block content %}{% endblock %}

        <i class="menu-icon fa fa-bars"></i>
        <i class="close-icon fa fa-times"></i>
    </div>

    {% block js %}

    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>
